out
node_modules
.vscode-test/
*.vsix
test-resources/
.test-extensions
.DS_Store
Thumbs.db
.test_gitignore

gvQLC.quizQuestions.json
personalizedQuestions.json

gvQLC.quizQuestions.json

/.github/copilot-instructions.md
test-fixtures/cis371_server/userSettings.json
test-fixtures/cis371_server/quiz_all_students.html
test-fixtures/cis371_server/quiz_all_students.pdf
test-fixtures/cis371_server/quiz_all_students.md
quiz_*